#header_background{
    position: relative;
    width: 100%;
    height: auto;    
}

#logo{
    position: absolute;
    top: 50px;
    left: 50px;
    height: 10vw;
    width: 15vw;
}

footer{
    position: relative;
    background-color: black;
    height: 150px;
    width: 100%;
    bottom: 0;
}