body{
    display: block;        
    height: 100%;
    width: 100%;
    margin: 0;
}

.container{
    display: grid;
    box-sizing: border-box;
    position: relative;
    width: auto;
}

#header_background{
    position: relative;
    width: 100%;
    height: auto;    
}

#logo{
    position: absolute;
    top: 50px;
    left: 50px;
    height: 10vw;
    width: 15vw;
}

footer{
    
    position: absolute;
    background-color: black;
    height: 150px;
    width: 100%;
    bottom: 0px;
}