body{
    display: block;        
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    padding: 8px;
}

.products .thumbnail{
    height: 100px;
    width: 100px;
}

.products {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}



.products li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}
.grid-container-main{
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    width: auto;
    height: 65ch;
    background-image: linear-gradient(white, gray);
}

#header_background{
    position: relative;
    width: 100%;
    height: auto;    
}

#logo{
    position: absolute;
    top: 50px;
    left: 50px;
    height: 10vw;
    width: 15vw;
}

nav{
    position: absolute;
    display: flex;
    margin: 20px;
    top: 60px;
    left: 60%;
}



.grid-container{
    display: grid;
    grid-template-columns: auto 600px auto;
    justify-content: space-between;
}

.grid-container > div > p{
    color: lightgray;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 0px 75px;
    text-align: center
}


.grid-container-main > a > div > img {
    border-radius: 8px;
    padding:3px;
    border:5px solid rgb(49, 49, 49);
    background-color: rgb(211, 211, 211);
    margin: 0px 0px 20px 100px;
    justify-content: space-between;
    height: 30vh;
    width: 40vh;
}

.grid-container-main > a > div > p {
    color: rgb(49, 49, 49);
    text-align: center;
    font-size: 1em;
}

.grid-container-main > a > div:hover {  
    transform: scale(1.05) ;
    
}

#footer-img{ 
    height:125px;
     
}

footer{
    position: absolute;
    background-color: black;
    height: 150px;
    width: 100%;
    bottom: 0px;
}

a:link, a:visited{
    text-decoration: none;
    color: dimgray;
    padding: 20px;
    font-size: 20px;  
}


a:hover {
    color: darkred;
}